body{
    font-family:arial;
}
img.tiny{
    width: 20px;
    border: solid thin grey;    
}
img.big {
    width: 150px;
    border: solid thin grey;
    display:inline-block;
}

a{
    text-decoration: none;
    display: inline-block;
    padding: 5px 10px;
}
a:hover{
    background-color: #C8FFFF;
    color: black;
}

.properties_small div {
    display:inline-block;
}
.properties_small div:first-child{
    width:3ex;
}
a{
    text-decoration: none;
}
.c_last{
    padding-right: 100px; 
}
.nav_button{
    background-color: white; /* Green */
    border: solid thin black;
    color: green;
    padding: 5px 15px;
    text-align: center;
    margin-top: 10px;
    text-decoration: none;
    display: inline-block;
    font-size: 13px;
    }

.continent div{
    display: inline-block;
    text-decoration: none;
    align-self: center;

}
.nav_create{
    background-color: white;
    border: solid thin black;
    color: green;
    margin-top: 10px;
    width: 160px;
    padding: 5px 15px;
    text-align: center;
    text-decoration: none;
    font-size: 13px;
    }

.pag_main1{
    background-color: white; /* Green */
    border: solid thin black;
    padding: 5px 15px;
    text-decoration: none;
    display: inline-block;
    font-size: 12px; 
    }

.main_base{
    border: solid thin black;
    text-decoration: none;
    display: inline-block;
    font-size: 14px; 
    padding-right: 30px;
    }


.country_div div div{
    display:inline-block;
    margin: 10px;
}
.country_div div div:first-child{
    width:20ex;
} 
.country_div div div:last-child{
    font-weight: bold;
}
.home{
    padding-left: 400px;
}
.home2{
        text-decoration: none;
    display: inline-block;
    padding-left: 600px;
}
.home3{
    text-decoration: none;
    display: inline-block;
    padding-left: 600px;
}
.home3{
    text-decoration: none;
    display: inline-block;
    padding-left: 750px;
}
.c-edit{
   background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px
}
.main_div{
    padding: 20px;
    margin: auto;
    width: 54%;
    border: 2px solid black;
}
.c_main{
    padding: 20px;
    margin: auto;
    width: 55%;
    border: 2px solid black;
}
.cd_main{
    padding: 20px;
    margin: auto;
    width: 55%;
    border: 2px solid black;
}
.con_main{
    padding: 20px;
    margin: auto;
    width: 55%;
    border: 2px solid black;
}

ul#sort a:link{
     padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    list-style-type: none;
}