

	<div class="con_main">
	<h1>{{c}}</h1>
	<div class="continent" >
		<ul>
		<div><a href='../eachcontinent/Asia'><b>Asia</b></a></div> 
		<div> | </div>
		<div><a href='../eachcontinent/Caribbean'><b>Caribbean</b></a></div>
		<div> | </div>
		<div><a href='../eachcontinent/Eurasia'><b>Eurasia</b></a></div>
		<div> | </div>
		<div><a href='../eachcontinent/Oceania'><b>Oceania</b></a></div>
		<div> | </div>
		<div><a href='../eachcontinent/North America'><b>North America</b></a></div>
		<div> | </div>
		<div><a href='../eachcontinent/Europe'><b>Europe</b></a></div>
		<div> | </div>
		<div><a href='../eachcontinent/South America'><b>South America</b></a></div>
		<div> | </div>
		<div><a href='../eachcontinent/Africa'><b>Africa</b></a></div>
		</ul>
	</div>
	{% extends "base.html" %}
		{% block content %}

	<div>There are {{length_of_cl}} countries in {{c}}</div>
	<br>
		
		{% for coty in cl %}
			
				<div class="properties_small">
				<a href='/countryname/{{coty.name}}'>
					<div>
						<img src='/static/flags/{{coty.tld}}.gif' class='tiny'>
					</div>
					<div>
						{{coty['name']}}
					</div>
				</a>
				</div>
		
		{% endfor %}

	</div>
	 <div class="home4"><a href="/">Back Home >>></a></div>
{% endblock %}