

	<div class="con_main">
	<h1>{{c}}</h1>
	<div class="continent" >
		<ul>
		<div><a href='../eachcontinent/Asia'>Asia</a></div> 
		<div> | </div>
		<div><a href='../eachcontinent/Caribbean'>Caribbean</a></div>
		<div> | </div>
		<div><a href='../eachcontinent/Eurasia'>Eurasia</a></div>
		<div> | </div>
		<div><a href='../eachcontinent/Oceania'>Oceania</a></div>
		<div> | </div>
		<div><a href='../eachcontinent/North America'>North America</a></div>
		<div> | </div>
		<div><a href='../eachcontinent/Europe'>Europe</a></div>
		<div> | </div>
		<div><a href='../eachcontinent/South America'>South America</a></div>
		<div> | </div>
		<div><a href='../eachcontinent/Africa'>Africa</a></div>
		</ul>
	</div>
	{% extends "base.html" %}
		{% block content %}

	<div>There are {{length_of_cl}} countries in {{c}}</div>
	<br>
		
		{% for coty in cl %}
			
				<div class="properties_small">
				<a href='/countryname/{{coty.name}}'>
					<div>
						<img src='/static/flags/{{coty.tld}}.gif' class='tiny'>
					</div>
					<div>
						{{coty['name']}}
					</div>
				</a>
				</div>
		
		{% endfor %}
	

	</div>
{% endblock %}