<!DOCTYPE html>
<html>
<head>
	<link rel='stylesheet' href='/static/style.css'>
</head>
<body>
	<div class="c_main"> 
	<h1>{{coty['name']}}</h1>
	<div class="continent" >
		<ul>
		<div><a href='../eachcontinent/Asia'><b>Asia</b></a></div> 
		<div> | </div>
		<div><a href='../eachcontinent/Caribbean'><b>Caribbean</b></a></div>
		<div> | </div>
		<div><a href='../eachcontinent/Eurasia'><b>Eurasia</b></a></div>
		<div> | </div>
		<div><a href='../eachcontinent/Oceania'><b>Oceania</b></a></div>
		<div> | </div>
		<div><a href='../eachcontinent/North America'><b>North America</b></a></div>
		<div> | </div>
		<div><a href='../eachcontinent/Europe'><b>Europe</b></a></div>
		<div> | </div>
		<div><a href='../eachcontinent/South America'><b>South America</b></a></div>
		<div> | </div>
		<div><a href='../eachcontinent/Africa'><b>Africa</b></a></div>
		</ul>
	</div>
		<div class="country_div">
					<img src="../static/flags/{{coty['tld']}}.gif" class='big'>
			<div>
				<div>Capital</div>
				<div>{{coty['capital']}}</div>
			</div>
			<div>
				<div>Continent</div>
				<div><a href='../continent/{{coty.continent}}'>{{coty['continent']}}</a></div>
			</div>
			<div>
				<div>Population</div>
				<div>{{(coty['population'])}}</div>
			</div>
			<div>
				<div>Area</div>
				<div>{{	(coty['area'])}}</div>
			</div>
			<div>
				<div>GDP (million $)</div>
				<div>{{ (coty['gdp']) }}</div>
			</div>
			<div>
				<div>Top Level Domain</div>
				<div>{{coty['tld']}}</div>
			</div>
			<div>
				<br>
				<div><a href='/editcountryByName/{{coty.name}}'><input type="button" value="Edit"></a>
				<a href='/delete/{{coty.name}}'> <input type="button" value="Delete"> </a> 
				<a href='/newcountry'> Create New Country </a>
				<div class="home"><a href="/">Back Home >>> </a></div>
				</div>
			</div>

		
		
		</div>
	</div>
</body>
</html>