<!DOCTYPE html>
<html>
<head>
	<link rel='stylesheet' href='/static/style.css'>
</head>
<body>
	<div class="main_div">
	<h1>World Factbook</h1>
	<div class="continent" >
		<ul>
		<div><a href='../eachcontinent/Asia'><b>Asia</b></a></div> 
		<div> | </div>
		<div><a href='../eachcontinent/Caribbean'><b>Caribbean</b></a></div>
		<div> | </div>
		<div><a href='../eachcontinent/Eurasia'><b>Eurasia</b></a></div>
		<div> | </div>
		<div><a href='../eachcontinent/Oceania'><b>Oceania</b></a></div>
		<div> | </div>
		<div><a href='../eachcontinent/North America'><b>North America</b></a></div>
		<div> | </div>
		<div><a href='../eachcontinent/Europe'><b>Europe</b></a></div>
		<div> | </div>
		<div><a href='../eachcontinent/South America'><b>South America</b></a></div>
		<div> | </div>
		<div><a href='../eachcontinent/Africa'><b>Africa</b></a></div>
		</ul>
	</div>

		<div>There are {{t_length}} countries in in the world.</div>
		
		<ul>
			{% for coty in w_txt %}
			<li><a href='/countryname/{{coty.name}}'>
				<img src='/static/flags/{{coty["tld"]}}.gif' class='tiny'>
			 {{coty.name}}</a></li>
			{% endfor %}
		</ul>

		<!-- <div class="pag_main1">
			<tr class="pagination">
				<td><a href="startwith/A">A</a></td>
				<td><a href="startwith/B">B</a></td>
				<td><a href="startwith/C">C</a></td>
				<td><a href="startwith/D">D</a></td>
				<td><a >.........</a></td>
				<td><a href="startwith/Z">Z</a></td>

			</tr>
		</div> -->
		
		<div class="pag_main1">
			<tr class="pagination">
				{% for le in lota %}
				<a class="pg_a" href="/startwith/{{le}}">{{le}}</a>
				{% endfor %}
			</tr>
		</div>
		<br>
		<div class='nav_button'>
			<a href='/begin/{{page_number-page_size}}'>Previous Page</a>
		</div>
		<div class='nav_button'>
			<a href='/begin/{{page_number+page_size}}'>Next Page</a>
		</div>
		<div class='nav_button' style="margin-left: 38.8%;"><a href='/newcountry'> Create New Country </a></div>

	</div>
</body>
</html>
